<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form method="post" action="/upload" enctype="multipart/form-data">
      <label for="image">Fichier à uploader</label>
      <input type="file" name="image" id="image" />

      <input type="submit" value="Uploader" />
    </form>
  </body>
</html>